.all-posts-container {
    display: flex;
    max-width: 1200px; 
    margin-left: 80px;
    gap: 40px;
    padding: 20px 0 20px 0; 
}

.like-icon {
    color: grey;
    cursor: pointer;
}

.like-icon.liked {
    color: red; 
}

.share-icon {
    color: grey; 
    cursor: pointer;
}

.share-icon.shared {
    color: blue; 
}

.posts-feed {
    max-width: 900px;
    flex: 3; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.post-summary {
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.post-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
}

.post-image-container img {
    position: relative;
    min-width: 200px;
}

.post-link {
    display: block;
}

.post-image {
    width: auto;
    max-height: 500px;
    object-fit: cover;
}

.post-info {
    padding: 8px;
    margin: 10px 0 5px 10px;
}

.post-author {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.author-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.author-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 6px;
}

.author-username {
    font-weight: bold;
}

.post-stats {
    min-height: 30px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: #333;
    margin: 10px 0 10px 20px;
}

.post-stats p {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
}

.post-stats p:hover {
    color: #9f49b1;
}

.friend-suggestions {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: black;
}

.friend-suggestions h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.user-suggestion {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: black;
}

.user-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 6px;
}

.username {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.username:hover {
    text-decoration: underline;
}
